<div id="register-form" class="quiz-form">
    <h2>Register for a Quiz</h2>
    <form id="register" method="post">
        <input type="text" name="reg_code" placeholder="Registration Code">
        <input type="submit" value="Register">
    </form>
</div>