<h1>{{ title }}</h1>

<h2>Welcome to the quiz, {{ teamName }}</h2>

<p>This quiz consists of {{ rounds }} rounds, press Start when the quiz is ready to begin.</p>

<a href="quiz/begin" class="btn">Start</a>