<div id="team-form" class="quiz-form">
    <h2>Enter a Team Name</h2>
    <form id="teamName" method="post">
        <input type="text" name="team_name" placeholder="The A-Team">
        <input type="submit" value="Submit">
    </form>
</div>